@import "./assets//scss/variables";

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

/* page content */
main {
  min-height: 95vh;
  background-color: $bg-gray; // $bg-main;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: start;
  align-items: center;
  background-color: var(--secondary);
  color: #fafafa
}
header nav h2 {
  color: $bg-gray; // $success;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fafafa
}
header nav a.active {
  color: lightcoral;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}